%headers {
	height: 578px;
	max-height: 578px;
}

%white-text {
	color: white;
	margin: 0;
}

section#homeHeader {
	@extend %headers;
	display: flex;
	align-items: center;
	.homeHeader {
		position: absolute;
	}
	#text {
		z-index: 2;
	}
	#title {
		@extend %white-text;
		font-family: "Roboto Black", sans-serif;
		font-variant: small-caps;
		text-transform: uppercase;
	}
	#description {
		@extend %white-text;
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
	}
}

