%headers {
	height: 578px;
	max-height: 578px;
}

%white-text {
	color: white;
	margin: 0;
}

section#homeHeader {
	@extend %headers;
	display: flex;
	align-items: center;
	.homeHeader {
		position: absolute;
	}
	#text {
		z-index: 2;
	}
	#title {
		@extend %white-text;
		font-family: "Roboto Black", sans-serif;
		font-variant: small-caps;
		text-transform: uppercase;
		font-size: 160px;
		line-height: 130px;
		width: 800px;
	}
	#description {
		@extend %white-text;
		font-family: "Roboto Black", sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 30px;
		width: 800px;
		margin: 10px 0 30px;
	}
	#ctas {
		#freeTrial {
			background-color: #ad0808;
			color: white;
			margin-right: 10px;
		}
		#liveDemo {
			background-color: #1c3356;
			color: #00C8ff;
		}
	}
}

section#timeSquare {
	background-image: linear-gradient(#ffffff, #f8fcfd);
	height: 400px;
	.content {
		display: flex;
		justify-content: space-around;
		height: 100%;
	}
	img {
		display: flex;
		align-self: flex-end;
		max-height: 360px;
	}
	#text {
		display: flex;
		flex-direction: column;
		align-self: center;
		max-width: 585px;
		#title {
			color: #A3D9EA;
		}
		#description {
			color: #2A2B6D;
		}
	}
}